.audio {color: #181e2170;}
.block_audio {
    position: absolute;
    top: 580px;
    left: 1450px;
    width: 1956px;
    display: flex;
    flex-wrap: wrap;
}
.block_audio div {margin-right: 50px;}
#block_audio_two {
    margin-top: 100px;
}
#block_back_griboed_top {
    top: 760px;
}
#woe_support__id_top {
    top: 640px;
}
#block_sketc {
    left: 1930px;
}